a[href] {

	&,
	&:link,
	&:visited,
	&:active {
		display: inline-block;
		position: relative;

		color: $secondary;

		text-decoration: none;
		font-weight: $font-weight-bold;

		cursor: pointer;
	}


	&.ignore-link {
		color: $default-font-color;
	}


	&:not(.ignore-link):not(.special) {
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;

			width: 0;
			height: 2px;
			transition: width ease-in-out 0.3s;

			background: $secondary;
		}

		&:hover {
			&:before {
				width: 100%;
			}
		}
	}


	&:not(.ignore-link).special {


		//class="special bottom-roof-line"
		&.bottom-roof-line {

			&:before,
			&:after {
				content: "";
				position: absolute;

				width: 0;
				height: 2px;
				transition: width ease-in-out 0.3s;

				background: $secondary;
			}

			&:before {
				left: 0;
				bottom: 2px;
			}

			&:after {
				top: 1px;
				right: 0;
			}

			&:hover {
				&:before,
				&:after {
					width: 100%;
				}
			}
		}
	}
}