
<div class="spacer-l"></div>

<div class="personal-teaser t-align-center">

    <div class="h3"><span class="text-span">Hobby-Entwickler</span></div>
    <div class="spacer-s"></div>
    <div class="h3"><span class="text-span">Auszubildender für Anwendungs-entwicklung</span></div>
    <div class="spacer-s"></div>

    <div class="h3"><span class="text-span">Programmierer</span></div>

</div>
