{% block login %}

    {% block login_container %}
        <div class="login-container">

            <form class="login-container-form" data-backend-login-form>

                <input type="text"
                       name="username"
                       id="login-username"
                       data-label="Benutzername"
                       class="webu-input-text"
                       required >

                <input type="password"
                       name="password"
                       id="login-password"
                       data-label="Passwort"
                       class="webu-input-text"
                       required >

                <input type="submit"
                       class="btn btn-secondary"
                       value="Log In">
            </form>

        </div>
    {% endblock %}

{% endblock %}