$primary: #5a00fe;

.btn {
	padding: 10px 15px;
	cursor: pointer;


	&-primary {
		background: $primary;
		border: 2px solid darken($primary, 10%);
		color: $white;

		&:hover {
			background: darken($primary, 10%);
		}
	}

	&-primary {

		&:hover {

		}
	}

}