<?xml version="1.0" encoding="UTF-8" ?>


<plugin active="true">

    <info>
        <author>Fabian Holzwarth</author>
        <version>1.0.0</version>
    </info>

    <controllerlist>
        <link>Controller/_controllers.xml</link>
    </controllerlist>

    <resources weight="99" namespace="personal">/Resources</resources>

    <tablelist>
        <table class="webu\modules\Index\Database\ContactTable">
        </table>
        <table class="webu\modules\Index\Database\ProgrammingLanguageTable">
        </table>
        <table class="webu\modules\Index\Database\ProjectsTable">
        </table>
    </tablelist>

    <using>
        <namespace>global</namespace>
    </using>

</plugin>