{% extends "Base/head.html.twig" %}

{% block document_title %}
    <title>Webu Backend</title>
{% endblock %}

{% block document_meta %}
    {{ parent() }}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}