{% extends "Index/contents/components/offcanvas.html.twig" %}

{% block content %}

    <div class="offcanvas-main-menu-entries">

        {% for id,title in context.main_navigation %}

            <a href="{{ id|link }}" class="navigation-entry special">

                <div class="navigation-entry-content">
                    <span class="navigation-entry-text">{{ title }}</span>

                    <span class="navigation-entry-arrow">
                        {{ "simple-arrow"|icon("rotatedeg--90") }}
                    </span>
                </div>

            </a>

        {% endfor %}

    </div>

{% endblock %}