$assetPath: "#{$assetsPath}";
$defaultAssetsPath: "#{$defaultAssetsPath}";


//Font Definitions
$default-font-size: 16px;
$default-font-family: "Poppins", "Roboto condensed", "sans-serif";
$default-font-color: #2e2e2e;

//Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Breakpoints
$sm: 500px;
$md: 750px;
$lg: 1000px;
$xl: 1400px;