$animationTime: 0.5s;

#contact-form {
	transition: all ease-in-out $animationTime;
	transform: scale(1);

	&.successfully-submitted,
	&.already-submitted {
		transform: scale(0);

		& + #contact-form-success-message {
			pointer-events: all;
			transform: translate(0,-50%) rotate(0) scale(1);
		}
	}

	& + #contact-form-success-message {
		transition: all ease-in-out $animationTime;
		transition-delay: $animationTime;
		position: absolute;
		width: 100%;
		top: 50%;
		text-align: center;
		pointer-events: none;
		transform: translate(0,-50%) rotate(45deg) scale(0);
	}

	&.already-submitted {
		transition: none !important;
		transform: scale(0) !important;
		opacity: 0;
	}

}

.contact-form-container {
	position: relative;
}


.contact-form-message {
	display: none;

	color: red;

	&.visible {
		display: block;
	}
}