{% block document_head %}
    <head>

        {% block document_title %}
            <title>Webu Anwendung!</title>
        {% endblock %}

        {% block document_charset %}
            <meta charset="UTF-8" />
        {% endblock %}

        {% block document_javascript %}
            <script src="{{ assetPath(namespace) }}/js/index.js" async></script>
        {% endblock %}

        {% block document_css %}
            <link rel="stylesheet" href="{{ assetPath(namespace) }}/css/all.min.css">
        {% endblock %}



    </head>
{% endblock %}