<?xml version="1.0" encoding="UTF-8" ?>


<plugin active="true">

    <info>
        <author>Fabian Holzwarth</author>
        <version>1.0.0</version>
    </info>

    <controllerlist>
        <link>Controller/_controllers.xml</link>
    </controllerlist>

    <resources weight="99" namespace="backend">/Resources</resources>

    <using>
        <namespace>global</namespace>
    </using>

    <tablelist>
    </tablelist>


</plugin>