#content {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin: $header-height auto 0 auto;
	padding: $base-space;

	min-height: calc(100vh - #{$header-height} - #{$footer-height});


	max-width: $max-width;


	.content-inner {
		flex: 1 0 100%;
		max-width: 100%;
	}

}