.spacer-s,
.spacer-m,
.spacer-l,
.spacer-xl {
	display: inline-block;
	width: 100%;
}

.spacer-s {
	height: $base-space;
}

.spacer-m {
	height: $base-space * 2;
}

.spacer-l {
	height: $base-space * 4;
}

.spacer-xl {
	height: $base-space * 8;
}