<div class="webu-content-frame">

    <div class="h4">Neue Variable anlegen</div>

    <div class="spacer-l"></div>

    <form class="flex">

        {% include "backend/variables/elements/form-inputs.html.twig" with {
          "environment" : "new"
        } %}

    </form>

    <div class="spacer-m"></div>

</div>