{% block content %}

    <div id="content">
        <div class="content-inner">

            {% include "Index/"~ context.Action ~"/content.html.twig" %}

        </div>
    </div>


    {% include "Index/contents/components/cookie-consent.html.twig" %}

    <div id="offcanvas-container">
        {% include "Index/index/offcanvas-menu.html.twig" with {
            offcanvasId : "main-menu-offcanvas"
        } %}

        <div id="offcanvas-background" class="d-md-none" data-can-close-offcanvas></div>
    </div>

    {% include "Index/contents/footer.html.twig" %}

{% endblock %}