{% block content %}

    <div id="content">
        <div class="content-inner">

            {% block content_inner %}
                {% include context.Module~"/"~context.Controller~"/"~ context.Action ~"/content.html.twig" %}
            {% endblock %}

        </div>
    </div>


    {% block cookie_consent %}
        {% include "Index/contents/components/cookie-consent.html.twig" %}
    {% endblock %}


    {% block offcanvas_container %}
        <div id="offcanvas-container">
            {% include "Index/index/index/offcanvas-menu.html.twig" with {
                offcanvasId : "main-menu-offcanvas"
            } %}

            <div id="offcanvas-background" class="d-md-none" data-can-close-offcanvas></div>
        </div>
    {% endblock %}


    {% block footer %}
        {% include "Index/contents/footer.html.twig" %}
    {% endblock %}

{% endblock %}