{% block content %}

    <div id="content">
        <div class="content-inner">

            {% include "Index/"~ context.Action ~"/content.html.twig" %}

        </div>
    </div>

    {% include "Index/contents/footer.html.twig" %}

{% endblock %}