{% block footer %}

    <footer id="footer">

        <span>&copy; 2021 Fabian Holzwarth</span>


        <a href="{{ "module.index.index.impress"|link }}" style="
            position: absolute;
            right: 0;
            color: #000000;
            font-weight: 500;
        ">Impressum</a>
    </footer>

{% endblock %}