{% block header %}

    <div id="header" class="is-top">

        <div class="header-inner container">
            <div class="header-title">
                <a href="{{ "module.index.index.index"|link }}" class="ignore-link">
                    <span class="h1 ">Fabian Holzwarth</span>
                </a>
            </div>

            <nav class="header-navigation">

                <ul class="horizontal-listing d-none d-md-inline-block">

                    {% for id,title in context.main_navigation %}
                        <li>
                            <a href="{{ id|link }}" class="navigation-entry special bottom-roof-line">
                                <span class="navigation-entry">{{ title }}</span>
                            </a>
                        </li>
                    {% endfor %}

                </ul>


                <div class="main-menu-offcanvas d-inline-block d-md-none">
                    <span data-offcanvas-id="main-menu-offcanvas" data-offcanvas-trigger>
                        {{ "burger"|icon }}
                    </span>
                </div>
            </nav>

        </div>

    </div>


{% endblock %}