
//font
$base-font-size: 18px;
$base-font-family: Calibri, Arial, 'sans-serif';
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

//colors
$primary: #8b002c;
$secondary: #2E3532;
$white: #ffffff;
$black: #000000;

$color-base: #fff;
$color-base-shadow: #000;


//contents
$min-content-outer-margin: 20px;
$max-content-width: 1400px;


//breakpoints
$bp-min: 300px;
$bp-sm: 800px;