{% block master_block %}
    <!DOCTYPE html>
    <html lang="de">

    {% block head %}
        <head>
            {% include "Base/head.html.twig" %}
        </head>
    {% endblock %}

    {% block body %}
        <body class="is--ctr-{{ controller }} is--act-{{ action }}">

        {% block header %}
            {% include "Base/header.html.twig" %}
        {% endblock %}

        {% block content %}
            <div id="content">
                {% block page_wrap %}
                    {{ controller }}
                {% endblock %}
            </div>
        {% endblock %}

        {% block footer %}
            <div id="footer">
                {% include "Base/footer.html.twig" %}
            </div>
        {% endblock %}

        </body>
    {% endblock %}

    </html>
{% endblock %}