.webu-variables-listing-actions {
	display: flex;
	justify-content: space-between;

	#webu-items-per-page {

	}

	.webu-variables-listing-pagination {

	}


}

$table-border-color: rgba($secondary, .2);

table.webu-variables-listing {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid $table-border-color;

	thead {
		border-bottom: 5px solid rgba($primary);
		font-weight: $font-weight-bold;
	}

	tbody {
		tr {
			&:nth-of-type(2n) {
				background: $table-border-color;
			}
		}
	}

	thead,
	tbody {
		tr {

			&.deletion-selected {
				background: $error;
			}

			td {
				padding: 5px;
				width: auto;


				&:last-of-type {
					max-width: 53px;


					.variable-action-container {
						width: 120px;
						display: inline-flex;
						height: 40px;

						.btn {
							flex: 0 0 40px;
							width: 40px;
							height: 40px;
							margin: 0 5px;
							border-radius: 5px;
							background: $white;
							padding: 0;


							&.btn-danger {
								border: 3px solid $error;
								&:hover {
									background: $error;
								}
							}
							&.btn-warning {
								border: 3px solid $warning;
								&:hover {
									background: $warning;
								}
							}

							display: flex;
							justify-content: center;
							align-items: center;
						}

					}
				}
			}
		}
	}
}


#webu-variables-listing-delete-message {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 250px;
	min-height: 100px;
	background: $white;
	border: 1px solid black;
	padding: $base-content-margin;
	display: none;

	&.active {
		display: block;
	}

	.listing-delete-message {
		text-align: center;
	}

	.listing-delete-message-buttons {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: $base-content-margin;

		.btn {
			margin: 0 $base-content-margin;
		}
	}

}


.custom-slider {

	&.hue {
		background-image: linear-gradient(to right, #ff0000,#ffff00,#00ff00,#00ffff,#0000ff,#ff00ff,#ff0000)
	}

	&.lightness {
		background-image: linear-gradient(to right, #ffffff, #000000)
	}

}