.webu-variables-listing-actions {
	display: flex;
	justify-content: space-between;

	#webu-items-per-page {

	}

	.webu-variables-listing-pagination {

	}


}

$table-border-color: rgba($secondary, .2);

table.webu-variables-listing {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid $table-border-color;

	thead {
		background: rgba($primary);
		font-weight: $font-weight-bold;
	}

	tbody {
		tr {
			&:nth-of-type(2n) {
				background: $table-border-color;
			}
		}
	}

	thead,
	tbody {
		tr {
			td {
				padding: 5px;
				border-right: 1px solid $table-border-color;
				width: auto;


				&:last-of-type {
					max-width: 53px;


					.variable-action-container {
						width: 120px;
						display: inline-flex;
						height: 50px;

						.btn {
							flex: 1 1 50px;
							width: 50px;
							height: 50px;
							margin: 0 5px;
						}

					}
				}
			}
		}
	}



}