<div class="h3">Kontakt</div>

<div class="spacer-s"></div>

{% set contactFormSubmitted = context.Parameters.COOKIES.cookies["hasSendContactForm"] %}

<div class="contact-form-container">
    <form id="contact-form"
          class="{% if contactFormSubmitted %}already-submitted{% endif %}"
          action="{{ "module.index.api.contactform"|link }}"
          method="post"
          {% if contactFormSubmitted %}style="transition: none !important;"{% endif %}
          data-ajax-form>

        <div class="contact-form-message">
            <div class="message-content">

            </div>
            <div class="spacer-s"></div>
        </div>



        <label>
            <input type="email" name="email" placeholder="E-Mail Adresse"  required/>
        </label>

        <div class="spacer-s"></div>

        <label>
            <input type="text" name="subject" placeholder="Betreff"  required/>
        </label>

        <label style="display: none !important">
            Leave this field blank: <input type="text" value="{% if contactFormSubmitted %}https{% endif %}" name="url"/>
        </label>

        <div class="spacer-s"></div>

        <label>
            <textarea placeholder="Nachricht..." name="message" maxlength="5000" minlength="50" required></textarea>
        </label>


        <div class="spacer-m"></div>

        <button>Absenden</button>

    </form>

    <div id="contact-form-success-message" {% if contactFormSubmitted %}style="transition: none !important;"{% endif %}>
        Vielen Dank für deine Anfrage! Sie wird so bald wie möglich beantwortet!
    </div>
</div>



<div class="spacer-xl"></div>