<div class="spacer-s"></div>


<div class="h3">Kontakt</div>


<div class="spacer-s"></div>


<form action="{{ "form-target"|link }}">


    <label>
        <input type="email" placeholder="E-Mail Adresse"/>
    </label>

    <div class="spacer-s"></div>

    <label>
        <input type="text" placeholder="Betreff"/>
    </label>

    <div class="spacer-s"></div>

    <label>
        <textarea placeholder="Nachricht..."></textarea>
    </label>


    <div class="spacer-m"></div>

    <button>Absenden</button>


</form>




<div class="spacer-xl"></div>