<div class="spacer-s"></div>


<div class="h3">Kontakt</div>


<div class="spacer-s"></div>


<form action="{{ "module.index.api.contactform"|link }}" method="post" data-ajax-form>

    <label>
        <input type="email" name="email" placeholder="E-Mail Adresse"/>
    </label>

    <div class="spacer-s"></div>

    <label>
        <input type="text" name="subject" placeholder="Betreff"/>
    </label>

    <div class="spacer-s"></div>

    <label>
        <textarea placeholder="Nachricht..." name="message"></textarea>
    </label>


    <div class="spacer-m"></div>

    <button>Absenden</button>


</form>



<div class="spacer-xl"></div>