.btn {
	padding: 10px 15px;
	outline: none;
	border: none;
	cursor: pointer;
	display: inline-block;

	&-primary {
		background: $primary;
		color: $black;

		&:hover {
			background: darken($primary, 5%);
		}
	}



	&-secondary {
		background: $secondary;
		color: $white;

		&:hover {
			background: darken($secondary, 5%);
		}
	}



}