.color-picker {
	display: flex;
	flex-direction: row;

	.color-picker-preview {
		flex: 0 0 110px;
		width: 110px;
		height: 110px;
		margin: 10px;
		display: inline-block;
	}

	.color-picker-configuration {
		flex: 1 1 auto;
	}



}