/*
	<div class="h1">Überschrift 1</div>
	<div class="h2">Überschrift 2</div>
	<div class="h3">Überschrift 3</div>
	<div class="h4">Überschrift 4</div>
	<div class="h5">Überschrift 5</div>
	<div class="h6">Überschrift 6</div>
 */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: $font-weight-bold;
}


$max-heading-range: 6;
$heading-size-step: ($base-font-size * $font-heading-factor) / $max-heading-range;


.h {
	&1 {
		font-size: $base-font-size + ($heading-size-step * ($max-heading-range - 1));
	}
	&2 {
		font-size: $base-font-size + ($heading-size-step * ($max-heading-range - 2));
	}
	&3 {
		font-size: $base-font-size + ($heading-size-step * ($max-heading-range - 3));
	}
	&4 {
		font-size: $base-font-size + ($heading-size-step * ($max-heading-range - 4));
	}
	&5 {
		font-size: $base-font-size + ($heading-size-step * ($max-heading-range - 5));
	}
	&6 {
		font-size: $base-font-size + ($heading-size-step * ($max-heading-range - 6));
	}
}