.pagination {
	display: inline-flex;

	.pagination-first,
	.pagination-prev,
	.pagination-page,
	.pagination-next,
	.pagination-last {
		border: 1px solid $secondary;
		margin-left: -1px;
		padding: 5px;
		width: 30px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-right: none;
	}

	.pagination-last {
		border-right: 1px solid $secondary;
	}


}