select.webu-custom-select {
	padding: 0.2em 1.5em 0.2em 0.2em;


	option {

	}

}


.webu-custom-select-container {
	position: relative;
	display: inline-block;
	width: min-content;

	&:after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 0.9em;
		margin: 0 0.3em;
		background: red;
		transition: transform 0.2s ease-in-out;

		background: url("#{$base-asset-path}/Backend/icons/simple_arrow_down.svg") no-repeat;
		background-size: contain;
		background-position-y: center;
	}


	.webu-custom-select-selection {
		position: relative;
		display: inline-block;
		border: 1px solid $secondary;
		padding: 0.4em 2em 0.4em 0.4em;
		white-space: nowrap;
	}

	&:hover {

		&:after {
			transform: rotate(-180deg);
		}

		.webu-custom-select-option-container {
			height: auto;
			border: 1px solid $secondary;
		}
	}

	.webu-custom-select-option-container {
		display: flex;
		flex-direction: column;
		position: absolute;
		overflow: hidden;

		height: 0;
		min-width: 100%;
		margin-top: -1px;
		z-index: 999;

		background: $white;
		border: none;

		.webu-custom-select-option {
			position: relative;
			cursor: pointer;
			padding: 0.4em 2em 0.4em 0.4em;
			white-space: nowrap;
			margin-right: -2px;

			&:hover {
				background: rgba($secondary, 0.1);
			}
		}
	}
}


