$sidebar-transition: .2s ease-in-out;
$sidebar-width: 200px;
$sidebar-width-small: 60px;


.sidebar-container {
	background: $secondary;
	width: $sidebar-width;
	min-width: $sidebar-width;
	overflow-x: hidden;
	transition: width $sidebar-transition;

	& a:link,
	& a:visited {
		text-decoration: none;
	}

	&.small {
		width: $sidebar-width-small;

		.sidebar-container-content {
			width: $sidebar-width-small;


			.sidebar-button {

				.sidebar-button-title {
					opacity: 0;
				}
			}

			#sidebar-toggle-button {

				.sidebar-toggle-button-icon {

					.icon {
						transform: rotate(360deg);
					}
				}
			}
		}
	}


	&  * {
		color: $white;
	}

	.sidebar-container-content {
		color: $white;

		display: flex;
		flex-direction: column;
		height: 100%;
		width: $sidebar-width;
		transition: width $sidebar-transition;
		position: fixed;



		.sidebar-button {
			padding: $base-content-margin;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			cursor: pointer;

			&.active {
				background: rgba($black, .3);
			}

			&:hover {
				background: rgba($black, .2);
			}

			.sidebar-button-icon {
				display: flex;
			}

			.sidebar-button-title {
				white-space: nowrap;
				opacity: 1;
				transition: opacity $sidebar-transition;
				padding-left: 10px;
			}
		}


		#sidebar-toggle-button {
			padding: $base-content-margin;
			margin-top: auto;
			cursor: pointer;

			&:hover {
				background: rgba($black, .2);
			}

			.sidebar-toggle-button-icon {
				display: flex;

				.icon {
					transition: transform $sidebar-transition;
				}
			}
		}
	}
}