.custom-slider {
	width: 300px;
	height: 30px;

	position: relative;

	border: 2px solid black;
	margin: 10px;



	.custom-slider-cursor {

		cursor: pointer;
		pointer-events: none;

		min-width: 10px;
		height: calc(100% + 10px);

		position: absolute;
		top: 0;
		left: 0;

		margin: -5px 0;
		border: 1px solid black;
		background: black;

		transform: translateX(-50%);

	}


}