.spacer {

	&-s,
	&-m,
	&-l,
	&-xl {
		width: 100%;
		min-width: 100%;
		flex: auto;

		overflow: hidden;
		display: inline-block;
	}


	&-s {
		height: $base-content-margin/2;
	}

	&-m {
		height: $base-content-margin;
	}

	&-l {
		height: $base-content-margin*2;
	}

	&-xl {
		height: $base-content-margin*4;
	}

	&-xxl {
		height: $base-content-margin*8;
	}

}