.icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	align-self: center;
	vertical-align: middle;
	position: relative;

	svg {
		fill: currentColor;
		stroke: currentColor;

		height: 100%;
		width: 100%;
	}

	&.white svg {
		fill: $white;
		stroke: $white;
	}
}

.rotate {
	&deg-45 {
		transform: rotate(45deg);
	}
	&deg-90 {
		transform: rotate(90deg);
	}
	&deg-135 {
		transform: rotate(135deg);
	}
	&deg-180 {
		transform: rotate(180deg);
	}
	&deg--45 {
		transform: rotate(-45deg);
	}
	&deg--90 {
		transform: rotate(-90deg);
	}
	&deg--135 {
		transform: rotate(-135deg);
	}
	&deg--180 {
		transform: rotate(-180deg);
	}
}
