{% block head_inner %}

    {% block head_other %}
        <link rel="icon" type="image/png" href="favicon.png">
        <title>{% block title %}Webu Creator{% endblock %}</title>
    {% endblock %}

    {% block head_css %}
        <link rel="stylesheet" href="/var/cache/css/all.min.css" />
    {% endblock %}

    {% block head_javascript %}
    {% endblock %}

    {% block head_meta %}
    {% endblock %}

{% endblock %}