<?php

// mode = dev | stage | pub
//          dev allows all debug tools, errors and messages
//          stage allows errors and messages
//          pub blocks everything, that should not be visible to public
define('MODE', 'dev');

// The main-web-adress
define('MAIN_ADDRESS',	'127.0.0.1');

// Leave this blank, if you have only the main address
define('ADDRESSES', 	[]);


//DB Credentials
define('DB_HOST',       'db');
define('DB_USERNAME',   'db-1-user');
define('DB_PASSWORD',   'S3cur3Passw0rd');
define('DB_DATABASE',   'db-1');
define('DB_PORT',       '3306');
define('DB_DRIVER',     'pdo_mysql');

//Default Config
define('DEFAULTCONTROLLER', 'Main');
define('NOTFOUNDCONTROLLER', '404');
define('ERRORCONTROLLER', '505');

//maximum size for uploaded images
define('MAX_IMG_UPLOAD_SIZE', 500000);
