{% block backend_index_sidebar %}

        <div class="sidebar-container-content">

            {% block backend_index_sidebar_elements %}

                {% for element in sidebar %}
                {% include "backend/index/sidebar/sidebar_element.html.twig" with {
                        nestingLevel: 0
                    } %}
                {% endfor %}

            {% endblock %}


            {% block backend_index_sidebar_toggle %}

                {# Sidebar Toggle Button #}
                <div id="sidebar-toggle-button">
                    <span class="sidebar-toggle-button-icon">
                        {{ "arrow-right"|icon }}
                    </span>
                </div>

            {% endblock %}

        </div>

{% endblock %}