<div class="spacer-m"></div>

<div class="t-align-center">

    <img src="{{ assetPath(namespace) }}/assets/media/404.png" alt="404" class="image404"/>

    <div class="h2">
        Wie bin ich hier her gekommen?
    </div>

    <div class="spacer-s"></div>

    <div class="h6">
        Diese Seite existiert nicht! Bitte prüfe die eingegebene URL oder gehe <a href="{{ "modules.index.index.index"|link }}">HIER</a> zurück zur Startseite!
    </div>

</div>