{% block backend_sidebar_button %}

    <a href="{{ url }}">
        <div class="sidebar-button {% if action == actionref %}active{% endif %}">
                {% if iconClass %}
                    <span class="sidebar-button-icon">

                        {{ iconClass|icon("white") }}

                    </span>
                {% endif %}
            <span class="sidebar-button-title">{{ title }}</span>
        </div>
    </a>

{% endblock %}