@include breakpoint-difference(".justify") {
	&-f-start {
		justify-content: flex-start !important;
		justify-items: flex-start !important;
	}

	&-start {
		justify-content: start !important;
		justify-items: start !important;
	}

	&-f-end {
		justify-content: flex-end !important;
		justify-items: flex-end !important;
	}

	&-end {
		justify-content: end !important;
		justify-items: end !important;
	}

	&-center {
		justify-content: center !important;
		justify-items: center !important;
	}

	&-space-between {
		justify-content: space-between !important;
	}

	&-space-around {
		justify-content: space-around !important;
	}

	&-space-evenly {
		justify-content: space-evenly !important;
	}

	&-stretch {
		justify-content: stretch !important;
		justify-items: stretch !important;
	}

	&-left {
		justify-content: left !important;
		justify-items: left !important;
	}

	&-right {
		justify-content: right !important;
		justify-items: right !important;
	}

	&-baseline {
		justify-items: baseline !important;
	}

	&-auto {
		justify-items: auto !important;
	}

	&-inherit {
		justify-content: inherit !important;
		justify-items: inherit !important;
	}

}