$primary: #5a00fe;


$input-border-color: #727272;
$input-border-radius: 10px;

input {

	&[type="text"],
	&[type="email"],
	&[type="password"] {

		border: 1px solid $input-border-color;
		border-radius: $input-border-radius;
		padding: 10px 15px;

		outline: none;

		&:focus {
			border-color: $primary;
		}

		&:disabled,
		&.disabled {
			background: rgba($input-border-color, 0.2);
			color: $black;
			pointer-events: none;
		}
	}
}