$sidebar-transition: .2s ease-in-out;
$sidebar-width: 200px;
$sidebar-width-small: 70px;
$sidebar-border-width: 10px;


.sidebar-container {
	background: $secondary;
	width: $sidebar-width;
	min-width: $sidebar-width;
	overflow-x: hidden;

	z-index: $zSidebar;

	body.is-ready & {
		transition: width $sidebar-transition,
					min-width $sidebar-transition;
	}

	&.small {
		width: $sidebar-width-small;
		min-width: $sidebar-width-small;

		.sidebar-container-content {
			min-width: $sidebar-width-small;
			width: $sidebar-width-small;

			.sidebar-element.layer-0 {
				width: $sidebar-width-small;

				& > a > .sidebar-button {
					min-width: $sidebar-width-small - $sidebar-border-width;
					width: $sidebar-width-small - $sidebar-border-width;

					& > .sidebar-button-title {
						opacity: 0 !important;
					}
				}
			}


			#sidebar-toggle-button {

				.sidebar-toggle-button-icon {

					.icon {
						transform: rotate(360deg);
					}
				}
			}
		}
	}


	&  * {
		color: $white;
	}

	.sidebar-container-content {
		color: $white;

		display: flex;
		flex-direction: column;
		height: 100%;
		min-width: $sidebar-width;
		position: fixed;

		.ready & {
			transition: width $sidebar-transition,
			min-width $sidebar-transition;
		}

		.sidebar-element {
			position: relative;
			border-left: $sidebar-border-width solid $sb_default_color;


			&.layer-0 {

				.ready & > a > .sidebar-button {
					transition: width $sidebar-transition,
								min-width $sidebar-transition;
				}

			}

			.sidebar-button {
				padding: $base-space;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				cursor: pointer;

				width: $sidebar-width - $sidebar-border-width;
				min-width: $sidebar-width - $sidebar-border-width;

				&.active {
					background: rgba($black, .3);
				}

				&:hover {
					background: rgba($black, .2);
				}

				.sidebar-button-icon {
					color: white;
					display: flex;

					.icon {
						height: 1.5rem;
						width: 1.5rem;
					}
				}

				.sidebar-button-title {
					white-space: nowrap;
					opacity: 1;
					padding-left: 10px;

					.ready & {
						transition: opacity $sidebar-transition;
					}
				}
			}


			&:hover > {
				.sidebar-subpages {
					display: block;
				}
			}

			.sidebar-subpages {
				min-height: 100%;
				min-width: $sidebar-width;

				position: absolute;
				right: 0;
				top: 0;
				transform: translateX(100%);

				background: $secondary;
				display: none;
			}
		}


		#sidebar-toggle-button {
			padding: $base-space;
			margin-top: auto;
			cursor: pointer;

			&:hover {
				background: rgba($black, .2);
			}

			.sidebar-toggle-button-icon {
				display: flex;
				padding-left: $sidebar-border-width / 2;

				.icon {
					height: 1.5rem;
					width: 1.5rem;
					transition: transform $sidebar-transition;
				}
			}
		}
	}
}