$parallax-foreground-weight: 3;

#content {

  .page_wrap {

    section {
      width: 100%;
      min-height: unitize(500px);


      &.default-section:first-of-type {
        min-height: 100vh;
      }

      &.parallax-background {
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        min-height: unitize(1000px);
      }

      &.parallax-foreground {
        margin: unitize(-50px) 0;
        min-height: unitize(500px);
        position: relative;

        &:before {
          content:"";
          background: $color-primary;
          transform: skewY(#{$parallax-foreground-weight}deg);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        .parallax-foreground-content {
          min-height: unitize(500px);
          position: relative;
          margin: 0 auto;

          max-width: unitize($max-content-width);
          padding: degToPadd($parallax-foreground-weight,$max-content-width) $min-content-outer-margin;
        }

      }

    }

  }

}