<div class="h3">Projekte</div>

<div class="spacer-s"></div>


<div>

    {% if not listing or listing.entries == 0 %}
        {% include "Index/Projects/list/empty.html.twig" %}
    {% else %}

        <div class="container-x listing-container">
        {% for element in listing.elements %}

            {% include "Index/Projects/list/box/default.html.twig" with {
                 project : element
            } %}

        {% endfor %}
        </div>


    {% endif %}

</div>