$primary: #5a00fe;
$minWidth: 600px;

.login-body {
	width: 100vw;
	height: 100vh;
	position: relative;

	background-color: $primary;

	.login-window {
		display: flex;

		transform: translate(-50%,-50%);
		position: absolute;
		left: 50%;
		top: 50%;

		min-width: $minWidth;

		box-shadow: 0 0 10px 0 black;

		.login-window-image {
			flex: 0 0 33.33333333%;
			max-width: 33.33333333%;
		}

		.login-container {
			display: flex;
			flex-direction: column;
			padding: $base-space;
			background: $white;


			flex: 0 0 66.66666666%;
			max-width: 66.66666666%;

			.login-form-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				flex: 1 1 100%;

				.login-container-form {
					display: flex;
					flex-direction: column;

					& > * {
						margin: 10px 0;
					}

					input.wiggle {
						animation-duration: 0.4s;
						animation-name: wiggle;
					}

					input[type="submit"] {
						width: auto;
						align-self: flex-end;
					}
				}
			}
		}
	}
}

$wiggleDistance: 5px;
@keyframes wiggle {
	0% {
		transform: translateX(0px);
	}
	10% {
		transform: translateX(-$wiggleDistance);
	}
	30% {
		transform: translateX($wiggleDistance);
	}
	50% {
		transform: translateX(-$wiggleDistance);
	}
	70% {
		transform: translateX($wiggleDistance);
	}
	90% {
		transform: translateX(-$wiggleDistance);
	}
	100% {
		transform: translateX(0px);
	}
}