@include breakpoint-difference(".col") {
	&-1 {
		flex-basis: 100%;
		max-width: 100%;
	}
	&-2 {
		flex-basis: 50%;
		max-width: 50%;
	}
	&-3 {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	&-4 {
		flex-basis: 25%;
		max-width: 25%;
	}
	&-5 {
		flex-basis: 20%;
		max-width: 20%;
	}
	&-6 {
		flex-basis: 16.66666%;
		max-width: 16.66666%;
	}
	&-7 {
		flex-basis: 14.28571%;
		max-width: 14.28571%;
	}
	&-8 {
		flex-basis: 12.5%;
		max-width: 12.5%;
	}
	&-9 {
		flex-basis: 11.11111%;
		max-width: 11.11111%;
	}
	&-10 {
		flex-basis: 10%;
		max-width: 10%;
	}
}