{% block backend_sidebar_element %}

    <div class="sidebar-element layer-{{ nestingLevel }}" style="border-color: {% if element.color %}{{ element.color }}{% else %}#000000{% endif %}">


        {% include "backend/index/sidebar/sidebar_button.html.twig" with {
            url: element.url,
            title: element.title,
            actionref: element.action,
            iconClass: element.icon
        } %}


        {% if element.children|length > 0 %}

            <div class="sidebar-subpages">

                {% for child in element.children %}

                    {% include "backend/index/sidebar/sidebar_element.html.twig" with {
                        element: child,
                        nestingLevel: nestingLevel+1
                    }%}

                {% endfor %}

            </div>

        {% endif %}


    </div>

{% endblock %}