
//font
$base-font-size: 18px;
$base-font-family: Calibri, Arial, 'sans-serif';
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

//colors
$primary: #00368b;
$secondary: #212022;;
$white: #ffffff;
$black: #000000;


$success: #008c00;
$warning: #c3c000;
$error: #bc0000;

//contents
$base-content-margin: 20px;


//paths
$base-asset-path: "/src/Resources/public/assets";


//breakpoints
$bp-min: 300px;
$bp-sm: 800px;