
//font
$base-font-size: 18px;
$base-font-family: Calibri, Arial, 'sans-serif';
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;
$font-heading-factor: 1.5;

//colors
$primary: #00b9ff;
$secondary: #212022;
$white: #ffffff;
$black: #000000;
$lightgray: #f9f9f9;

$success: #008c00;
$warning: #e6e300;
$error: #bc0000;


//sidebar-colors
$sb_variables_color: $success;
$sb_default_color: $black;





//contents
$base-content-margin: 20px;
$base-border-radius: 10px;

//paths
$base-asset-path: "/src/Resources/public/assets";
$base-icon-path: $base-asset-path + "/Backend/icons/";


//breakpoints
$bp-min: 300px;
$bp-sm: 800px;
$bp-md: 1000px;
$bp-lg: 1400px;