{% block master_block %}
    <!DOCTYPE html>
    <html lang="de" data-backend>

    {% block head %}
        <head>
            {% block head_content %}
                <title>Webu Backend</title>
                <link rel="icon" type="image/png" href="/favicon.png">

                <meta name="robots" content="noindex,nofollow" />
                <meta charset="utf-8"/>

                <meta name="author" content="Fabian Holzwarth" />
                <meta name="copyright" content="Fabian Holzwarth" />


                {% block head_content_css %}
                    <link rel="stylesheet" href="{{ link("/var/cache/css/backend/all.min.css") }}" />
                {% endblock %}

                {% block head_javascript %}
                    <script type="text/javascript" src="{{ link("/var/cache/js/all.js") }}"></script>
                {% endblock %}


            {% endblock %}
        </head>
    {% endblock %}

    {% block body %}
        <body class="is--ctr-{{ controller }} is--act-{{ action }}"
              id="body"
              onload="document.getElementById('body').classList.add('ready')"
        >

        {% if action == 'login' %}
            {% include "backend/login/login.html.twig" %}
        {% else %}

            <div class="sidebar-container" data-sidebar>
                {% include "backend/index/sidebar.html.twig" %}
            </div>

            <div class="content-container">

                {% include "backend/" ~ action ~ "/content.html.twig" %}

            </div>

        {% endif %}


        </body>
    {% endblock %}

    </html>
{% endblock %}



