<div class="page_wrap">


    <section class="default-section">
    </section>



    <section class="parallax-foreground">
        <div class="parallax-foreground-content">
            <div class="sectionContent">
                <h2>Du befindest dich hier:</h2>
                <h3>{{ controller }}</h3>
            </div>
        </div>
    </section>



    <section
            class="parallax-background"
            style="
                    background-image: url('{{ assetsPath }}/images/index/languages.png');
                    min-height: 400px;
                    "
    >
    </section>



    <section class="parallax-foreground">

    </section>



    <section class="default-section">
    </section>



    <section class="default-section">
    </section>

</div>

