.btn {
	padding: 10px 15px;
	outline: none;
	border: none;
	cursor: pointer;
	display: inline-block;

	&-primary {
		background: $primary;
		color: $secondary;

		&:hover {
			background: darken($primary, 5%);
		}
	}



	&-secondary {
		background: $secondary;
		color: $white;

		&:hover {
			background: darken($secondary, 5%);
		}
	}



	&-warning {
		background: $warning;
		color: $secondary;

		&:hover {
			background: darken($warning, 5%);
		}
	}


	&-danger {
		background: $error;
		color: $white;

		&:hover {
			background: darken($error, 5%);
		}
	}



}