input[type="text"].webu-input-text,
input[type="password"].webu-input-text {
    font-size: inherit;
    padding: 10px;
    position: relative;
    width: 100%;
    outline: none;
    border: 1px solid $secondary;
}


.webu-input-wrapper {
    position: relative;

    .webu-input-label {
        position: absolute;
        left: 0;
        padding: 1em 10px;
        pointer-events: none;
        transition: all 0.2s ease-in-out;

        &.top {
            margin-top: 1.5em;
            padding: 10px;
            border: 1px solid transparent;
        }

    }

    .webu-input-text:focus,
    .webu-input-text:valid {

        & ~ .webu-input-label {
            font-size: 0.75em;
            top: 0;
            padding-top: 5px;

            &.top {
                font-size: 1em;
                margin-top: 0;
                padding: 0;
            }

        }

    }

}