
<div class="h1">Variablen</div>

<div class="">

    <div class="btn btn-primary"
         data-href="/backend/variables/new"
         data-href-target="_self"
    >
        Variable hinzufügen
    </div>

</div>

