Content

<br>
<br>


{{ "exmpleiconpath"|icon }}

<select class="webu-custom-select" name="test">
    <option value="A">Option A</option>
    <option value="B">Option B</option>
    <option value="C" selected>Option C</option>
    <option value="D">Option D</option>
    <option value="E">Option E</option>
</select>

<br>
<br>

{% for i in 0..100 %}
    -- {{ i }} - content <br>
{% endfor %}