{% block backend_index_sidebar %}

        <div class="sidebar-container-content">

            <div class="sidebar-button">
                <span class="sidebar-button-icon">
                    <span class="icon icon-home light"></span>
                </span>
                <span class="sidebar-button-title">Hello world</span>
            </div>


            <div id="sidebar-toggle-button">
                <span class="sidebar-toggle-button-icon">
                    <span class="icon icon-simple-arrow-left light"></span>
                </span>
            </div>

        </div>

{% endblock %}