{% block backend_index_sidebar %}

        <div class="sidebar-container-content">


            {% block backend_index_sidebar_elements %}

                {% for element in context.sidebar %}
                        {% include "backend/index/sidebar/sidebar_element.html.twig" with {
                            nestingLevel: 0
                        } %}
                {% endfor %}

            {% endblock %}


            {% block backend_index_sidebar_toggle %}

                {# Sidebar Toggle Button #}
                <div id="sidebar-toggle-button">
                    <span class="sidebar-toggle-button-icon">
                        <span class="icon icon-simple-arrow-left light"></span>
                    </span>
                </div>

            {% endblock %}

        </div>

{% endblock %}